body {
  background-color: pink;
}
h1 {
  color: white;
}
h1:hover {
  color: black;
}

p {
  color: white;
}

img {
  display: block;
  width: 150px;
  height: 200px;
  margin: 5px auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0 35%;
}

ol {
  text-align: left;
  margin: 0 30%;
}
