header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #ffe5ce;
}
nav {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 80px;
  border-radius: 50%;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}
#smile-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
#smile-msg h1 {
  color: #fff6c9;
  text-align: center;
  font-size: 40px;
}
#smile-msg h4 {
  color: #fff6c9;
  text-align: center;
}
#smile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 200px;
}
#smile-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#smile-img {
  width: 100%;
}
body {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  font-family: "Times New Roman", "garamond", "georgia", "papyrus", serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
.home-card {
  text-align: justify;
  margin: 100px 100px 50px;
}
#home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.challenge-card {
  margin: 20px 0;
  grid-column: 3/5;
  grid-row: 1/2;
  text-align: center;
}
.commitment-card {
  margin: 20px 0;
  grid-column: 7/9;
  grid-row: 1/2;
  text-align: center;
}
.control-card {
  margin: 20px 0;
  grid-column: 3/5;
  grid-row: 3/3;
  text-align: center;
}
/* .control-text {
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  margin-left: 50px;
  margin-top: -100px;
  position: relative;
  text-align: center;
} */
.connection-card {
  margin: 20px 0;
  grid-column: 7/9;
  grid-row: 3/3;
  text-align: center;
}
.challenge-img {
  border: 10px solid #ffe5ce;
  width: 100%;
  transition: 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.commitment-img {
  border: 10px solid #ffe5ce;
  width: 100%;
  transition: 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.control-img {
  border: 10px solid #ffe5ce;
  width: 100%;
  transition: 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.connection-img {
  border: 10px solid #ffe5ce;
  width: 100%;
  transition: 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
footer {
  background-color: #ffe5ce;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgb(40, 172, 228);
  background-color: rgb(50, 146, 177);
}
footer .social img {
  padding-top: 15px;
  border-radius: 50%;
}
